{% extends 'base.html.twig' %}

{% block title %}Video!{% endblock %}

{% block body %}
    <div class="container py-5">
    <div class="row">
        <div class="col-7 mt-2 d-flex justify-center">
            <div class="card">
                <div class="card-header">
                    <h5>{{ video.name | upper }}</h5> 
                </div>
                <div class="card-body justify-center">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.codeYoutube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
